titulo2{
    background-color: blueviolet;
}
p2{
    font-size: 60px;
}

a href{
    text-align: center;
}
li{
   text-align: center;
   font-size: 15px;

}
ul{
    text-align: center;
}